

.close-btn{

    cursor: pointer;
    margin-left: 5px;

}


.hidden-menu-text{

    font-size: 15px;

    padding-right: 2px;
    padding-left: 0px;

}

.hidden-menu-btn{
    background-color: #FFCC55;
    font-size: 19px;
    margin: 2px;
    text-align: left;
}


.btn-link{
    margin-left: 3px;
    font-size: 15px;
}

.hidden-menu-bottom{
    font-size: 14px;
    color: #8b95a5;
}


.img-sender{
    width: 25px;
}


.chat-img{
    width: 240px;
    height: 200px;
}


.media-chat-btn{
    margin-top: 5px;
    margin-bottom: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.hidden-menu-header{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.input-upper-cmds{
    position: absolute;
    bottom: 100%;
    right: 25px;
    width: 40px;
    height: 15px;
}

.upper-cmds-btn{
    position: absolute;
    bottom: 100%;
    right: 25px;
    width: 60px;
    height: 25px;

    border-radius: 15px 15px 0px 0px;

    background-color: #FFCC55;
}

.upper-cmds-btn:{
    position: absolute;
    bottom: 100%;
    right: 25px;
    width: 60px;
    height: 25px;

    border-radius: 15px 15px 0px 0px;

    background-color: #FFCC55;
}


.upper-drop-down{
    width: 95%;
    right: 0px;
    background-color: #FFCC55;

}

.dropdown-item:hover{
    background-color: #fabd28;
}


.drop-down-btn{
    background-color: inherit;
    width: 100%;
}

.drop-down-btn:hover{
    background-color: #fabd28;
}

.chat-msg{
    background-color: #FFBFBF;
    border-radius: 5px 5px 5px 0;
}
