

.close-btn{

    cursor: pointer;
    margin-left: 5px;

}


.hidden-menu-text{

    font-size: 15px;

}

.hidden-menu-btn{
    background-color: #FFCC55;
    font-size: 19px;
    margin: 2px;
}


.btn-link{
    margin-left: 3px;
    font-size: 15px;
}

.hidden-menu-bottom{
    font-size: 14px;
    color: #8b95a5;
}


.img-sender{
    width: 25px;
}


.chat-img{
    width: 240px;
    height: 200px;
}


.media-chat-btn{
    margin-top: 5px;
    margin-bottom: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}