<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div id="app">
        {{ message }}
        <input v-model="message"  />
        <button @click="sendMessage">send</button>
        <div>
            <div v-for="(message, index) in messages" :key="index">
                {{ message }}
            </div>
        </div>
    </div>

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">


    function initWS(){
        let socket = new WebSocket("ws://localhost:5500/");

                socket.onopen = function (e) {
                    alert("[open] Соединение установлено");
                    alert("Отправляем данные на сервер");
                    socket.send("Меня зовут Джон");
                };

                socket.onmessage = function (event) {
                    //alert(`[message] Данные получены с сервера: ${event.data}`);
                    app.addMessage(event.data);
                    console.log(event);
                };

                socket.onclose = function (event) {
                    if (event.wasClean) {
                        alert(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
                    } else {
                        // например, сервер убил процесс или сеть недоступна
                        // обычно в этом случае event.code 1006
                        alert('[close] Соединение прервано');
                    }
                };

                socket.onerror = function (error) {
                    alert(`[error] ${error.message}`);
                };

                return socket;
    }

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            messages: [],
            ws: Object
        },

        created: () => {
            console.log('created');
            this.ws = initWS();
        },

        methods: {

            sendMessage(){
                ws.send(this.message);
            },

            addMessage(message){
                this.messages.push(message);
            },

            initWS() {

                let socket = new WebSocket("ws://localhost:5500/");

                socket.onopen = function (e) {
                    alert("[open] Соединение установлено");
                    alert("Отправляем данные на сервер");
                    socket.send("Меня зовут Джон");
                };

                socket.onmessage = function (event) {
                    alert(`[message] Данные получены с сервера: ${event.data}`);
                };

                socket.onclose = function (event) {
                    if (event.wasClean) {
                        alert(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
                    } else {
                        // например, сервер убил процесс или сеть недоступна
                        // обычно в этом случае event.code 1006
                        alert('[close] Соединение прервано');
                    }
                };

                socket.onerror = function (error) {
                    alert(`[error] ${error.message}`);
                };

            }

        }
    })

</script>
</html>