<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snippet - BBBootstrap</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="css/chat2.css">
    <link rel="stylesheet" href="css/elements.css">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</head>
<body oncontextmenu="return false" class="snippet-body">


<div class="page-content page-container" id="page-content">
    <div class="padding" id="v-app">


        <div class="row container d-flex justify-content-center">


            <div class="col-md-6">


                <div class="card card-bordered">

                    <input type="checkbox" id="hmt" class="hidden-menu-ticker">
                    <label class="btn-menu" for="hmt">
                        <img src="icons/Union.svg"/>
                        <!--
                        <span class="first"></span>
                        <span class="second"></span>
                        <span class="third"></span>
                        -->

                    </label>

                    <ul class="hidden-menu hidden-menu-text">
                        <h6>Выберите действие</h6>

                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/ZGC SHOP');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/shopping-cart%201.svg">
                                <span class="pull-left">ZGC SHOP</span>

                            </button>
                        </div>

                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Для Туркменистана');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/turkmenistan%201.svg">
                                <span class="pull-left">Для Туркменистана</span>

                            </button>
                        </div>
                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Пробный период');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/key%201.svg">
                                <span class="pull-left">Пробный период</span>

                            </button>
                        </div>

                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Связаться с поддержкой');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/customer-service%201.svg">
                                <span class="pull-left">Связаться с поддержкой</span>

                            </button>
                        </div>
                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Оплата');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/Vector.svg">
                                <span class="pull-left">Оплата</span>

                            </button>
                        </div>


                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Узнать больше');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/info-button%201.svg">
                                <span class="pull-left">Узнать больше</span>

                            </button>
                        </div>

                        <div class="row">
                            <button @click="(e)=>{ sendMessage('/Сотрудничество');  }"
                                    class="btn btn-lg hidden-menu-btn col-xs-12">
                                <img src="icons/hand-shake%201.svg">
                                <span class="pull-left">Сотрудничество</span>

                            </button>
                        </div>


                        <div class="hidden-menu-bottom">
                            <hr/>
                            <div>
                                Поддержка в чате отвечает в будние дни с 17:00 до 22:00 по Китаю
                            </div>

                        </div>

                    </ul>


                    <div class="card-header">

                        <h4 class="card-title" style="margin-left: 15px"><strong>Chat</strong></h4>

                        <div class="close-btn">
                            <img src="icons/close.svg"/>
                        </div>

                    </div>


                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                         style="overflow-y: scroll !important; height:400px !important;">




                        <div class="media media-chat media-chat-reverse">
                            <div class="media-body">
                                <p>Hiii, I'm good.</p>
                            </div>
                        </div>


                        <div class="media media-chat">

                            <div class="media-body">
                                <p> hi garry </p>

                            </div>
                        </div>


                        <div v-for="(message, index) in messages" :key="index">

                            <div v-if="message.from==='user'" class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>

                            <div v-if="message.from==='bot'" class="media media-chat">
                                <div class="media-body">
                                    <p>
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>

                            <div v-if="message.from === 'bot_link'" class="incoming_msg">
                                <div class="incoming_msg_img"></div>
                                <div class="received_msg">
                                    <div class="btn-link">
                                        {{ message.message }}
                                        <br/>
                                        <a v-bind:href="message.cmd" target="_blank">{{ message.cmd }}</a>

                                    </div>
                                </div>
                            </div>

                            <div v-if="message.from==='user_img'" class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>
                                        <img v-bind:src="message.url" class="chat-img" />
                                    </p>
                                </div>
                            </div>


                        </div>


                        <div v-if="userEmail === ''">
                            <div>
                                {{ startMessage }}
                            </div>
                            <div>
                                <div class="email-input-group "
                                     v-bind:style="{ backgroundColor: emailColor }">
                                    <div class="input-group  send-email-input"
                                         style="margin-left: 20px; margin-bottom: 1px;">
                                        <input v-model="enteringEmail" type="text" class="email-input"
                                               placeholder="email..."
                                               v-bind:style="{ backgroundColor: emailColor }"
                                        />
                                        <div @click="clearEmail" class="input-group-append"
                                             style="cursor: pointer; border: none;">
                                            <span class="input-group-text"
                                                  v-bind:style="{ backgroundColor: emailColor }">x</span>
                                        </div>
                                    </div>

                                    <button class="email-btn" @click="sendEmail"> send</button>
                                </div>
                            </div>
                        </div>

                        <div v-if="showSupportSelect">
                            <div v-for="(operator, index) in supportOperators" :key="index">
                                <button class="btn btn-primary" @click="(e)=>{ selectSupport(operator); }">
                                    {{ operator }}
                                </button>
                            </div>
                        </div>


                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>


                    <div v-if="userEmail !== ''" class="msg-input-wrapper">
                        <div class="publisher bt-1 border-light">

                            <input class="publisher-input" type="text"
                                   placeholder="Введите сообщение..."
                                   v-model="messageText"/>

                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="icons/clip.svg"/>
                                </label>

                                <input id="file-input" style="display: none;" type="file" @change="sendImg"/>
                            </div>


                            <div class="input-group-addon">
                                <div style="margin-right: 1px">
                                    <div class="bd-example">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton3"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <div class="publisher-btn" data-abc="true"><i
                                                        class="fa fa-smile"></i>
                                                </div>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                 x-placement="bottom-start">

                                                <div class="dropdown-item"
                                                     v-for="(cmd, i) in commands" :key="i"
                                                     @click="(e)=>{ sendMessage(cmd); }">
                                                    {{ cmd }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div @click="sendMessage" class="publisher-btn text-info" data-abc="true">
                                <img src="icons/send%201.svg"/>
                            </div>


                        </div>
                    </div>


                </div>


            </div>

        </div>


    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">

    function sendImg1() {
        let input = document.querySelector('#file-input');

        console.log(input.files[0]);

        let data = new FormData();
        data.append('file', input.files[0]);
        data.append('user', app.userEmail);

        console.log(data);

        fetch('/photo', {
            method: 'POST',
            body: data
        }).then((res => {
            return res.json();
        }).then((data) => {
            console.log(data);
        }));
    }

    async function postData(url = '/chat', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }


    function initWS() {

        let socket = new WebSocket("ws://localhost:5500/");

        socket.onopen = function (e) {
            alert("[open] Соединение установлено");
            alert("Отправляем данные на сервер");
            socket.send("Меня зовут Джон");
        };

        socket.onmessage = function (event) {
            alert(`[message] Данные получены с сервера: ${event.data}`);
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                alert(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
            } else {
                // например, сервер убил процесс или сеть недоступна
                // обычно в этом случае event.code 1006
                alert('[close] Соединение прервано');
            }
        };

        socket.onerror = function (error) {
            alert(`[error] ${error.message}`);
        };

        return socket;

    }


    var app = new Vue({
        el: '#v-app',
        data: {
            messageText: '',
            messages: [
                {from: 'bot', message: 'hello i am bot!'},
                {from: 'user', message: 'Command1'}
            ],

            emailValid: true,
            showSupportSelect: false,

            userEmail: '',

            enteringEmail: '',

            commands: [],

            ws: null,
            supportOperator: '',
            supportOperators: [],

            startMessage: 'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту'


        },
        created: () => {
            console.log('created');

            const getCmds = function () {
                fetch('/commands')
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {

                        app.commands = data['data']
                    });
            }

            setTimeout(getCmds, 1000);

            setTimeout(getCmds, 3000);

            const getSupportOperators = () => {
                fetch('/operators')
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        app.supportOperators = data['data']
                    });
            }

            setTimeout(getSupportOperators, 1000);

            setTimeout(getSupportOperators, 3000);

        },

        computed: {

            emailColor() {
                if (this.emailValid) {
                    return '#d1d1d1';
                } else {
                    return '#FFBFBF';
                }
            }

        },

        methods: {


            sendImg() {
                let input = document.querySelector('#file-input');

                console.log(input.files[0]);

                let data = new FormData();
                data.append('file', input.files[0]);
                data.append('user', app.userEmail);

                console.log(data);

                fetch('/photo', {
                    method: 'POST',
                    body: data
                }).then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log('omnomnomnom');
                        if(data.status === "ok"){

                            console.log(data);
                            app.messages.push({from: 'user_img', url: data.url});
                        }
                    });
            },


            selectSupport(operator) {

                postData('/operator', {operator: operator, email: this.userEmail})
                    .then((data) => {
                        let answer = {from: 'bot', message: ''};

                        console.log(data); // JSON data parsed by `response.json()` call
                    });

            },

            connectToSupport() {
                this.ws = initWS();
            },

            sendMessage(msg = '') {

                if (this.ws !== null && this.supportOperator === '') {

                }


                if (this.ws !== null) {


                    msg = {message: this.messageText, operator: this.supportOperator};


                    ws.send(this.messageText);
                    this.messageText = '';
                    return;
                }


                if (msg !== '') {
                    this.messageText = msg;
                }

                if (this.messageText.trim() === '') {
                    return;
                }

                let userMessage = {from: 'user', message: this.messageText}


                this.messages.push(userMessage);


                const processMessage = (bot_message) => {
                    let message = {from: 'bot', 'message': bot_message.answer};

                    let cmd_messages = bot_message.commands;

                    this.messages.push(message);

                    let regex = new RegExp('^http.://.');

                    console.log('in process');

                    for (let i = 0; i < cmd_messages.length; i++) {

                        if (cmd_messages[i][1].match(regex) != null) {
                            this.messages.push({from: 'bot_link', message: cmd_messages[i][0], cmd: cmd_messages[i][1]})

                        } else {
                            this.messages.push({from: 'bot_cmd', message: cmd_messages[i][0], cmd: cmd_messages[i][1]})
                        }
                    }
                    console.log(this.messages);
                }

                postData('/chat', {message: this.messageText})
                    .then((data) => {
                        let answer = {from: 'bot', message: ''};
                        processMessage(data);
                        console.log('-----------');
                        console.log(data); // JSON data parsed by `response.json()` call
                    });

                this.messageText = '';

                if (msg === '/Связаться с поддержкой') {
                    this.showSupportSelect = true;
                }

            },

            sendEmail() {

                let validation = this.validateEmail(this.enteringEmail);

                if (validation === true) {
                    this.userEmail = this.enteringEmail;
                } else {
                    this.emailValid = false;
                }


            },

            validateEmail(mail) {
                if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(mail)) {
                    return (true)
                }
                return (false)
            },

            clearEmail() {
                console.log('clear');
                this.enteringEmail = '';
            }

        }
    })


</script>


</html>